.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
}

.time {
  fill: white;
  font-size: 60;
  font-family: System-Regular;
  text-anchor:middle;
  text-length: 2;
  y: 40%;
}

#hour {
  x: 35%;
}
#colon1 {
  x: 50%;  
}
#min {
  x: 65%;
}

#date {
  y: 50%;
  x: 50%;
  font-size: 20;
  text-length: 30;
}

#sec {
  fill: white;
  font-size: 250;
  font-family: System-Regular;
  text-anchor:middle;
  text-length: 2;
  x: 50%;
  y: 65%;
  opacity: 0.25;
}

.icon-section {
  y: 95%;
}

.icon {
  y: -15;
  width: 20;
  height: 20;
}

#hr {
  x: 5%;
}

#hr #hr-text {
  x: 30;
  y: 0;
  font-size: 16;
  font-family: System-Regular;
  text-anchor: start;
  text-length: 3;
}

#hr #hr-image {
  x: 0;
  fill: red;
  opacity: 0.5;

}

.divider {
  x: 0;
  y: 88%;
  fill: #323232;
  height: 1;
  width: 100%;
  display: none;
}

#dot {
  fill: red;
  x: 0;
  y: 0;
}

#bat {
  x: 85%;
}

#bat #bat-image-1 {
  x:10;
  fill: greenyellow;
  opacity: 1;
}

#bat #bat-image-2 {
  x:10;
  fill: red;
  opacity: 0.5;
}